/*for all code section*/
.kanit{
    font-family: 'kanit',sans-serif;
}
.kanitlight{
    font-family: 'kanit',sans-serif;
    font-weight: 300;
}

.acenter{
    text-align: center;
}
body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aaffd7' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/*frontpage*/
img.icon-first{
    width: 100px;
    height: 100px;
    /*
    display:block;
    margin-left: auto;
    margin-right: auto;
    */
}
.myround-1{
    background-color: white;
}
.text-1{
    color:OliveDrab ;
}
.text-2{
    color:turquoise ;
}
.text-3{
    color:darkturquoise ;
}
img.icon-second{
    width:150px;
    height: 150px;
}
.boy{
    display: block;
    margin-left:auto;
}
.girl{
    display: block;
    margin-right:auto;
}
.one-element-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-p{
    margin-top:1em;
}
/*
.photo-1{
    margin-top:0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height: 200px;
}
*/